# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Chroma DB
chroma_db/

# PDFs / docs
docs/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

